.navbar-inverse {
    background-color: purple;
    border-color: #080808;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: purple;
}

ul {
  list-style: none;
}


.custom-margin {
	margin-bottom: 35px;
    margin-top: 35px;
    padding: 5px;
}

.text-center {
	text-align: center;
}

.lang-container {
	font-size: 23px;
    float: right;
    margin-right: 2px;
}

.lang-container div {
	display: inline-block;
	/*padding: 7px;*/
}

.lang-container a {
	/*color: #107B7F;*/
	color: #517099;
	text-decoration: none;
}

.lang-container a:hover {
	color: #107B7F;
	text-decoration: none;
}


/*.active {
	color: #065CCC;
	background-color: grey;
}*/