.navbar-inverse {
    background-color: purple;
    border-color: #080808;
}


.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: purple;
}

ul {
  list-style: none;
}


.custom-margin {
	margin-bottom: 35px;
    margin-top: 35px;
    padding: 5px;
}

.text-center {
	text-align: center;
}

.lang-container {
	font-size: 23px;
    float: right;
    margin-right: 2px;
}

.lang-container div {
	display: inline-block;
	/*padding: 7px;*/
}

.lang-container a {
	/*color: #107B7F;*/
	color: #517D99;
	text-decoration: none;
	cursor:pointer
}

.lang-container a:hover {
	color: #519999;
	text-decoration: none;
}

.container-row {
	width: 50%;
}

.custom-holder{
	padding: 20px;
}

.container.slider {
	margin-bottom: 50px;
}

.collection {
	text-align: center;
}

.slider {
border: 15px solid #FFFFFF;
border-radius: 5px;
/*height: 500px;*/
margin: 20px auto;
position: relative;
/*width: 800px;*/
width: 65%;
}

.slide {
position: absolute;
top: 0;
left: 0;

}

i.fa.fa-window-close-o.fa-2x {
    color: #CCCCCC;
    float: right;
}

i.fa.fa-window-close-o.fa-2x:hover {
	color: #989998;
}

.img-holder {
    display: block;
    /*padding: 17px;*/
    padding: 65px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

img.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 85%;
    max-height: 100%;
}

.bottom-slider {
margin: 53px 0;
}

.arrow {
	cursor: pointer;
	display: block;
	height: 64px;
	margin-top: -35px;
	outline: medium none;
	position: absolute;
	top: 50%;
	width: 64px;
	z-index: 5;
}
.arrow.prev {
	left: 20px;
	opacity: 0.2;
	transition: all 0.2s linear 0s;
}
.arrow.next {
	opacity: 0.2;
	right: 20px;
	transition: all 0.2s linear 0s;
}

.arrow.prev:hover{
	opacity:1;
}
.arrow.next:hover{
	opacity:1;
}

button.btn.btn-info.arrow.prev {
    margin-right: 15px;
}
