<div>

<div class="row">
  <div class="col-lg-6 custom-margin">
        <div class="input-group align-right">
          <input type="text" class="form-control" placeholder="Search flower" ng-model="someRandomText">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
</div>

  <div class="row">
     <div class="col-sm-3 col-md-4" ng-repeat="flower in flowers | filter:someRandomText">
     <!-- {{tran["rose"]}} -->

          <div class="thumbnail">
            <div class="caption">
              <h3 >{{tran[flower.name]}}</h3>
            </div>
            <img class="image" ng-src="{{flower['image link']}}" alt="..." >
            <div class="caption">
            <h3 >{{flower.name}}</h3>
            <div>blossom season: {{flower['best season']}}</div>
            </div>
          </div>
        </div>
  </div>


</div>


<!--   -->
